extends layout

block content
  .container
    h1 Acerca de MuseArte
    p MuseArte es una galería virtual dedicada a la exposición de obras de arte moderno.
    p Nuestro objetivo es acercar el arte a todas las personas, permitiéndoles explorar y descubrir artistas y movimientos artísticos desde la comodidad de su hogar.
    p ¡Gracias por visitarnos y ser parte de esta experiencia artística en línea!
