doctype html
html
  head
    title MuseArte
    link(rel="stylesheet", href="/css/estilos.css")
  body
    nav
      ul
        li
          a(href="/") Inicio
        li
          a(href="/galeria") Galería
        li
          a(href="/acerca") Acerca de
    block content
    footer
      p © 2025 MuseArte - Todos los derechos reservados
